//primary colors
$linearGradientFrom: rgb(100, 72, 254);
$linearGradientTo: rgb(96, 5, 148);
$primaryRed: rgb(255, 82, 82);

//neutral
$white: rgb(255, 255, 255);
$lightGrayishViolet: rgb(222, 221, 223);
$darkGrayishViolet: rgb(142, 133, 147);
$veryDarkViolet: rgb(33, 9, 47);
